
/* title of the project */
.projectTitle {
    margin-top: 5rem;
}

/* description of the project with main picture */
.projectDescription {
    width: 50%;

}

/* description of the project */
.textBox {
    margin: 0 10rem 0 0;
}

.textBox > a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    transition: .4s;
}

.textBox > a:hover {
    color: #FF7200;
    text-decoration: none;
    transition: .4s;
}

/* picture and video pattern of project page
    change to video or img for your object */
.imageOne > video {
    margin: 3rem 2rem 0 0;
    width: 50rem;
    height: 50rem;

    object-fit: contain;
    background-color: #FF7200;
}

.imageTwo > img {
    margin: 10rem 2rem 2rem 5rem;
    width: 40rem;
    height: 60rem;

    object-fit: cover;
    background-color: #FF7200;
}

.imageThree > video {
    margin: 5rem 0 5rem 12rem;
    width: 80rem;
    height: 50rem;

    object-fit: cover;
    background-color: #FF7200;
}

.imageFour > video {
    margin: 0;
    width: 40rem;
    height: 50rem;

    object-fit: cover;
    background-color: #FF7200;
}

.imageFive > video {
    margin: 3rem 4rem 7rem 3rem;
    width: 40rem;
    height: 50rem;

    object-fit: cover;
    background-color: #FF7200;
}