@media (max-width: 70em) {

* {
    box-sizing: border-box;
}

.iLikeItem {
    margin-bottom: 1em;
}

/*#region for Links to work */

.workContainer > a {
    color: black;
    text-decoration: none;
    transition: .4s;
}

.workContainer > a:hover {
    letter-spacing: .2em;
}

}