
/* navigation */

.navButton {
    position: absolute;
    z-index: 1500;
    
    right: 0;
    top: 50%;
    transform: rotate(-90deg);

    border: none;
    cursor: pointer;
    background-color: #eeeeee;

  }

.navClose {

  }


.navShow {
    /* show the menu */
    transform: translateX(200%);
  }

.navBar {
    position: absolute;
    z-index: 1500;

    /*
    left: 0;
    */
    right: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #eeeeee;
    /* hide the menu above the screen by default */
    transform: translateX(100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
  }

.navButton > button {
    font-size: 1rem;

    border-style: none;

}


/* introduction text */
.introText {
    margin-top: 2rem;
    width: 100%;
}

.iLikeThingsContainer {
    position: relative;
    width: 100%;
    height: 100%;

}

.iLikeThingsContainer > h2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0s;
}

.iLikeThingsContainer .iLikeItem {
    opacity: 1;
}

/* latest work */
.latestWork {
    margin-top: 15rem;
}

.latestWorkTitle {
    padding: 1rem 0;

    border-bottom: .1rem black solid;
}

.workContainer {
    padding: 3rem 0;

    border-bottom: .1rem black solid;
}

/* links */

a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F5B683;
    margin: 0 2rem;

    transition-duration: .4s;
}

/* footer */
.footerStyle {

}

.footerStyle > button {
    border-style: none;
}

.footerStyle > button:hover {
    color: #F5B683;
}